@if (Request.IsAuthenticated) {
    <li>
        <p class="navbar-text navbar-right login-greeting">
            Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { @class = "navbar-link", title = "Manage" })!
        </p>  
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-form"}))
        {
            @Html.AntiForgeryToken()
            <a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
        }
    </li>
}
else
{
    <li><button id="loginLink" class="btn btn-success navbar-btn" onclick="location.href='@Url.Action("Login", "Account")'">Login</button></li>
}
