@model Dominio.Recurso

@{
    ViewBag.Title = "Eliminar Recurso";
}

<h2>Eliminar Recurso</h2>

<h3>¿Está seguro de que quiere eliminar este recurso?</h3>
<fieldset>
    <legend>Recurso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Volver al listado", "Index", null, new { @class = "actionButton" })
        <input type="submit" value="Eliminar" /> 
    </p>
}
