@{
    ViewBag.Title = "Reservas DCIC";
}

<div class="container">
    
    <!-- Jumbotron Header -->
    <header class="jumbotron text-center">
        <h1>¡Bienvenido a Reservas DCIC!</h1>
        <p>Desde aquí podrá reservar fácilmente los recursos del Departamento de Ciencias e Ingeniería de Computación que necesite.</p>
    </header>

</div>
<!-- /.container -->
